<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FED20S Todolist Edvin Sjögren</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    
    <h1>Eddie's Tidy ToDo List</h1>

    <a href="/register">Register here</a>
    <a href="/login">Login here</a>

    <%- include("add-data.ejs") %>

    <a href="/?page=<%=(displayTodos/amountDisplayed)%>&&sorted=1"> Sort A-Z </a>
    <a href="/?page=<%=(displayTodos/amountDisplayed)%>&&sorted=-1"> Sort Z-A </a>
    <a href="/?page=<%=(displayTodos/amountDisplayed)%>&&sortedDate-1"> Sort Date </a>

     <% for(let i=0; i<data.length; i++) { %>
        <div>  
            <%= data[i].name %> <%= data[i].date %>
            <a href="/edit/<%= data[i]._id %>">Edit</a> 
            <a href="/delete/<%= data[i]._id %>">Delete</a> 
        </div>
    <% } %>

    <% if(mathCeil !== displayTodos/amountDisplayed) { %>
        <a href="/?page=<%=(displayTodos/amountDisplayed)+1%>"> Show more </a>
        <% } else { %>
        <a href="/?page=1"> Show less </a>
    <% } %>
</body>
</html>